<h2>"Vzion-Fleet - Location Alarm</h2><br/>

<table border='1' bordercolor='#5D5D5D' cellspacing='0' cellpadding='1'>
	<tr>
		<td width='180' bgcolor='#C4DEFF'>&nbsp; Vehicle</td>
		<td width='500' align='left'>&nbsp; <%= @location_alarm['vehicle'] ? @location_alarm['vehicle']['name'] : '' %> (<%= @location_alarm['vehicle'] ? @location_alarm['vehicle']['description'] : '' %>)</td>
	</tr>
	<tr>
		<td width='180' bgcolor='#C4DEFF'>&nbsp; Alarm Name</td>
		<td width='500' align='left'>&nbsp; <%= @location_alarm['alarm_name'] %></td>
	</tr>
	<tr>
		<td width='180' bgcolor='#C4DEFF'>&nbsp; Location</td>
		<td width='500' align='left'>&nbsp; <%= @location_alarm['loc_name'] %></td>
	</tr>		
	<tr>
		<td width='180' bgcolor='#C4DEFF'>&nbsp; Event Type </td>
		<td width='500' align='left'>&nbsp; <%= @location_alarm['event_type'] %></td>
	</tr>
</table>